langchain
langgraph
fastapi
langsmith
python-dotenv
tavily-python
langchain-ollama
langchain-google-genai
langgraph-checkpoint-postgres
psycopg[binary,pool]
uvicorn
langchain-community
pydantic
firecrawl-py
httpx
sse-starlette
beautifulsoup4
trafilatura
grandalf
loguru